*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: #303231 ;
  font-family: sans-serif;
}

section {
  padding: 20px 0; /*debug*/
}

header {
  padding: 200px 0;
  background-image: url(../img/jumbo.png);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fbfdff;
}

a {
  text-decoration: none;
  color: #303231 ;
}

img {
  max-width: 100%;
  
}

.debug{
  min-height: 10px;
}

.row{
  display: flex;

}

.container{
  width: 80%;
  max-width: 1500px;
  margin: 0 auto;
  /*background-color: cadetblue; debug*/
  /*border: 1px solid black; debug*/
}

.container-small {
  width: 25%;
  max-width: 480px;
  margin: 0 auto;
  text-align: center;
  /*background-color: rgb(95, 160, 127); debug*/
  
}

.container-70{
  width: 70%;

}
.container-30{
  width: 30%;


}
.container-20{
  width: 20%;


}
.container-10{
  width: 10%;


}

.button{
  display: inline-block;
  padding: 15px 20px;
  background-color: #fcfffe ;
  border-radius: 50px;
  color: #232729;
}

.button:hover{
  background-color: darkgrey;
}

.col{
  display: inline-block;
}


/**********HEADER-TOP**********/

.header-top{
  height: 20% ;
  background-color: #3160e1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
}

/*****NAVBAR*****/

header .header-top .row.container{
  justify-content: space-between;
  align-items: center;
height: 100%;

}

ul {
  list-style: none;
  padding: 0 10px;
  display: flex;
}

li{
  display: inline-block;
}

header .header-top .row .col nav ul li a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  padding: 5px 10px;
  /*border: 1px solid black; debug*/
}
header .header-top .row .col nav ul li a:hover {
  text-decoration: underline;
}

/*****NAVBAR*****/
/**********HEADER-TOP**********/

/**********HEADER-BOTTOM**********/

header h1 {
  text-align: center;
  font-size: 2rem;
}

header .header-bottom{
text-align: center;
}
header .header-bottom .testo{
  width: 60%;
  max-width: 600px;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  padding: 60px 0;
  font-weight: bold;
}

header .header-bottom .row.container-small.buttons{
  justify-content: space-around;
  padding: 10px 0px;
  
}
header .header-bottom .col .button.black {
  background-color: #232729;
  color: #ffffff ;

}
/**********HEADER-BOTTOM**********/


/**********MAIN**********/

main section {
  padding: 150px 0;
}

h2 {
  font-size: 3rem;
  margin: 30px 0;
}
h3 {
  font-size: 2rem;
  background-image: url(../img/stars.svg);
  background-position: center;
  background-size: 101%;
  background-repeat: no-repeat;
  padding: 20px 30px;
}

p{
  font-weight: bold;
  display: inline-block;
  max-width: 1000px;
}

main .dove .row.container .container-70 {
  text-align: end;
}

/*****SECTION DISPARI*****/
main .luogo, main .community {
  background-color: white;
}


/*****SECTION DISPARI*****/


/*****SECTION PARI*****/
main .dove, main .tecnology {
  background-color: darkgrey;
}


/*****SECTION PARI*****/
/*****TECNOLOGY*****/
main .tecnology{
text-align: center;
}
main .tecnology .row.container.imm{
  justify-content: center;
}

main .tecnology .row.container.testo{
  justify-content: center;
  align-items: center;
}

main .tecnology div .button{
  background-color: #8ea1e3;
  color: white;
}
/*****TECNOLOGY*****/

/**********MAIN**********/
/**********FOOTER**********/
/****FOOTER-TOP*****/

footer {
  background-color: #232729;
  color: #fbfdff;
}

footer .footer-top {
  border-bottom: 1px solid white;
}

footer .footer-top .container.row {
  justify-content: space-between;
}

footer h3{
  padding: 0;
  color: #8ea1e3;
}

.bandiera {
  padding: 20px 0;
}

.bandiera img{
  vertical-align: middle;
  width: 30px;
}

.social i {
  padding-right: 10px;
}

footer ul {
  padding: 0;
  display: block;
}
footer ul h3 {
  font-size: 1rem;
  background-image: none;
  padding: 10px 0;
}

footer li{
  display: block;
  padding: 5px 0;
}

footer a {
  color: white;
}
footer a:hover {
  text-decoration: underline;
}
/****FOOTER-TOP*****/
/****FOOTER-BOTTOM*****/
footer .footer-bottom .container.row {
  justify-content: space-between;
}

footer .button{
  background-color: #8ea1e3;
  color: white;
}